* {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Photo section*/
#row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
#column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*Photo section*/

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

/*body {
  border: 5px solid black;
  padding: 0px;
  
}*/

.header {
  background-color:#686de0;
  color: #ffffff;
  text-align: center;
  padding: 62px;
}

#headertext {
  font-size: 24px;
}

.textbox {
  color: white;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*border: 5px solid red;*/
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color:#22a6b3;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /*border-radius: 25px;*/
  /*border: 5px solid red;*/
  
}

.menu li:hover {
  background-color: #0099cc;
}

.rightcolumntransparent {
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.rightcolumn {
  background-color:#95afc0;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*border: 5px solid red;*/
}

/*.border {
  border: 5px solid red;
}*/

.footer {
  background-color:#686de0;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
    /* Location of the image */
  background-image: url("images/I\ Killed\ the\ Synth\ [3840\ x\ 2160].png");
    
    /* Image is centered vertically and horizontally at all times */
  background-position: center center;
    
    /* Image doesn't repeat */
  background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
  background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
  margin: 0;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/*This is the navigation bar*/
.navbar {
  float:left;
  width: 100%;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}
/*not supported with a dropmenu/or can't figure out*/

.sticky {
  position:sticky;
  top: 0;
}

/*Home/News*/
.navbar a {
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Dropbown Menu*/
.dropdown {
  float: right;
  overflow: hidden;
}
/*Menu style*/
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4834d4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #4834d4;
  padding: 20px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
}
/*fixes white column background on click*/
.dropdown-contentfix {
  display: block;
  background-color: #333;
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  color:white;
  width: 33.33%;
  padding: 10px;
  background-color: #333;
  height: 250px;
}

.column a {
  float: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #666;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

.sidenav a.active {
  background-color: #666;
  color: white;
}

.show {
  display: block;
}

/*Styles social/additional links under the header*/
.menusocial li {
  padding: 8px;
  margin-bottom: 7px;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

/* Style all font awesome icons/Do not use as it interferes with fa fa-caret-down causing a scaling conflict in the navbar*/
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}*/

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook/rem unit root font size */
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Twitter/rem unit font size */
.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.linkdecoration a {
  color:white;
}

.linkdecoration a:hover {
  opacity: 0.7;
}

.sidenav a {
  color: white;
  display:block;
  text-decoration: none;
}

.sidenav a:hover {
  opacity: 0.7;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#container { 
  background-color:#686de0;
  height: 155px;
  position: relative;
}

#center {
  font-size: 24px;
  color: white;
  margin: 0;
  position: absolute;
  top: 66%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*I DECIDED NOT TO USE THIS BECAUSE I DO NOT KNOW HOW IT WORKS*/
/*.pb-cmnt-container {
  font-family: Arial, Helvetica, sans-serif;
}*/

/*.pb-cmnt-textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}*/

/*textarea.html-text-box {
  background-color:#ffffff;
  background-image:url(http://);
  background-repeat:no-repeat;
  background-attachment:fixed;
  border-width:1;
  border-style:solid;
  border-color:#cccccc;
  font-family:Arial;
  font-size:14pt;
  color:#000000;
}*/
  
/*input.html-text-box {
  background-color:#95afc0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14pt;
  color:#000000;
}*/

/*#commentsheading {
  color: white;
}*/

/*#submit {
  font-family:Arial, Helvetica, sans-serif;
}*/
/*I DECIDED NOT TO USE THIS*/
 
/* Style inputs, select elements and textareas */

/*Style the text*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  /*border-radius: 4px;*/
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  /*border-radius: 5px;*/
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.4);
  padding: 15px;
  color: white;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*#commentspadding {
  padding-inline: 15px;
  border: 1px solid red;
}*/

/*photosold.html*/
/*div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}/*/